@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");
@import url("https://fonts.cdnfonts.com/css/overused-grotesk");
@import url("https://fonts.cdnfonts.com/css/amoera");
@import url("https://fonts.cdnfonts.com/css/br-segma");
@import url("https://fonts.cdnfonts.com/css/manifesto");
@import url("https://fonts.cdnfonts.com/css/roboto-condensed-3");
@font-face {
  font-family: "nhg";
  src: url("../../../public/Fonts/neue_haas_grotesk/NeueHaasDisplayLight.ttf");
  font-style: normal;
}
:root {
  --tone-0: #ffffff;
  --tone-100: #000000;
  --tone-200: #222222;
  --tone-300: #5b5c57;
  --tone-400: #e3e4d8;
  --tone-500: #b6fe4b;
  --tone-600: #ff0000;
  --main-font: "PP Neue Montreal", sans-serif;
  --secondary-font: "Overused Grotesk", sans-serif;
  --amoera-font: "amoera", sans-serif;
  --encode-font: "BR Segma", sans-serif;
  --rogan-font: "MANIFESTO", sans-serif;
  --auxilliary-font: "Roboto Condensed", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  background: #ffffff;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.custom-cursor {
  position: fixed;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 999;
  transition: scale 0.3s ease;
  color: white;
  box-sizing: border-box;
  overflow: hidden;
  transition: left 0.1s ease-out, top 0.1s ease-out;
}
.custom-cursor .c1,
.custom-cursor .c2 {
  width: 60px;
  height: 60px;
  position: absolute;
}
.custom-cursor .c1 {
  transform: translateX(-125%);
}
@media (hover: none) and (pointer: coarse) {
  .custom-cursor {
    display: none;
  }
}
@media (max-width: 580px) {
  .custom-cursor {
    display: none;
  }
}

.custom-cursor .visible {
  opacity: 1;
}

.main_container {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_container section {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}
.main_container .hero_section {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.main_container .hero_section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 3;
  pointer-events: none;
}
.main_container .hero_section .hero_carousel_container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}
.main_container .hero_section .hero_carousel_container .circular__text_container {
  display: block;
  position: absolute;
  bottom: 100px;
  right: 24px;
  z-index: 2;
}
@media (max-width: 768px) {
  .main_container .hero_section .hero_carousel_container .circular__text_container {
    bottom: 0;
    right: -2rem;
  }
}
.main_container .about {
  display: flex;
  flex-direction: column;
  padding: 136px 48px 0 48px;
}
@media (max-width: 768px) {
  .main_container .about {
    padding: 64px 16px 0 16px;
  }
}
.main_container .about svg {
  width: 36px;
  height: 36px;
}
.main_container .about .line {
  overflow: hidden;
}
.main_container .about .line .split_up {
  transform: translateY(100%);
}
.main_container .about .line span {
  font-family: var(--rogan-font);
  font-weight: 800;
  /* Fluid font-size with clamp(min, preferred, max) */
  font-size: clamp(32px, 10vw + 1.5rem, 170px);
  letter-spacing: -1.2rem;
  line-height: 1;
  display: inline-block;
}
@media (max-width: 980px) {
  .main_container .about .line span {
    letter-spacing: -0.8rem;
  }
}
@media (max-width: 580px) {
  .main_container .about .line span {
    letter-spacing: -0.5rem;
  }
}
.main_container .about .la__marque {
  display: flex;
  flex-direction: column;
}
.main_container .about .la__marque .au__coeur {
  display: flex;
}
.main_container .about .la__marque .au__coeur .la__marque_svg {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}
@media (max-width: 580px) {
  .main_container .about .la__marque .au__coeur .la__marque_svg svg {
    width: 12px;
    height: 12px;
  }
}
.main_container .about .wipe__inText {
  overflow: hidden;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.main_container .about .wipe__inText #dot {
  width: 48px;
  height: 48px;
  transform: scale(0.5);
}
@media (max-width: 768px) {
  .main_container .about .wipe__inText #dot {
    width: 32px;
    height: 32px;
  }
}
.main_container .about .wipe__inText #heart {
  width: 48px;
  height: 48px;
  transform: scale(0.5);
}
@media (max-width: 768px) {
  .main_container .about .wipe__inText #heart {
    width: 32px;
    height: 32px;
  }
}
.main_container .about .wipe__inText .textbox_one {
  margin-bottom: 72px;
}
@media (max-width: 580px) {
  .main_container .about .wipe__inText .textbox_one .fd {
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 100%;
  }
}
.main_container .about .wipe__inText .textbox_two #arrow__p span {
  position: relative;
  z-index: 999;
  margin-right: 0.5rem;
  overflow: hidden;
  width: 72px;
  height: 54px;
}
.main_container .about .wipe__inText .textbox_two #arrow__p span #orangeArrow {
  position: absolute;
  top: -14px;
  left: 0;
  width: 72px;
  height: 72px;
  margin-right: 1rem;
  z-index: 999;
}
@media (max-width: 1200px) {
  .main_container .about .wipe__inText .textbox_two #arrow__p span {
    width: 64px;
    height: 46;
  }
  .main_container .about .wipe__inText .textbox_two #arrow__p span #orangeArrow {
    width: 64px;
    height: 64px;
  }
}
@media (max-width: 768px) {
  .main_container .about .wipe__inText .textbox_two #arrow__p span {
    width: 48px;
    height: 34px;
  }
  .main_container .about .wipe__inText .textbox_two #arrow__p span #orangeArrow {
    top: -9px;
    width: 48px;
    height: 48px;
  }
}
.main_container .about .wipe__inText .textbox_two .wipe__button {
  margin-top: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.main_container .about .wipe__inText .textbox_two .wipe__button .button {
  box-sizing: border-box;
  width: 224px;
  height: 48px;
  border: 1px solid #464646;
  padding: 0;
  border-radius: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.main_container .about .wipe__inText .textbox_two .wipe__button .button span {
  position: relative;
  display: inline-block;
  font-family: var(--encode-font);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #464646;
  text-transform: uppercase;
  margin: 0;
}
.main_container .about .wipe__inText .textbox_two .wipe__button .button :nth-child(1) {
  position: absolute;
  top: 50%;
  left: -36px;
  transform: translateY(-50%) rotate(90deg);
}
.main_container .about .wipe__inText .textbox_two .wipe__button .button :nth-child(3) {
  transform: rotate(45deg);
  margin-left: -5px;
}
@media (max-width: 768px) {
  .main_container .about .wipe__inText .textbox_two .wipe__button .button {
    width: 180px;
    height: 32px;
    margin: 0 auto;
  }
  .main_container .about .wipe__inText .textbox_two .wipe__button .button span {
    font-size: 1rem;
    letter-spacing: 0.5px;
  }
  .main_container .about .wipe__inText .textbox_two .wipe__button .button :nth-child(1) {
    left: -28px;
    width: 28px;
    height: 28px;
  }
  .main_container .about .wipe__inText .textbox_two .wipe__button .button :nth-child(3) {
    width: 28px;
    height: 28px;
    margin: 0 0 4px 0;
  }
}
@media (max-width: 768px) {
  .main_container .about .wipe__inText .textbox_two .wipe__button {
    width: max-content;
  }
}
.main_container .about .wipe__inText .text_box {
  width: fit-content;
}
.main_container .about .wipe__inText .text_box p {
  /* Fluid font-size: 28px (mobile) to 66px (desktop) */
  font-size: clamp(2.5rem, 4vw, 4.125rem);
  font-family: var(--encode-font);
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 0 0.75rem 0; /* Using rem for responsive margins */
  /* Fluid letter-spacing: -0.5px (mobile) to -2px (desktop) */
  letter-spacing: clamp(-0.05rem, -0.1vw - 0.01rem, -0.125rem);
}
.main_container .about .wipe__inText .text_box p span {
  display: inline-block;
  /* Fluid margin-left based on font-size */
  margin-left: 0.5rem; /* Use em for relative spacing */
}
@media (max-width: 980px) {
  .main_container .about .wipe__inText .text_box p {
    margin: 0 0 0.3rem 0;
    word-wrap: break-word;
  }
}
@media (max-width: 580px) {
  .main_container .about .wipe__inText .text_box {
    width: 100%;
  }
  .main_container .about .wipe__inText .text_box p {
    width: max-content;
  }
}
.main_container .marquee {
  margin-top: clamp(80px, 20vw, 240px);
  width: 100%;
  overflow: hidden;
}
.main_container .marquee .marquee__text {
  display: flex;
}
.main_container .marquee .marquee__text p {
  font-size: clamp(144px, 24vw, 448px);
  margin: 0;
  line-height: 1;
  font-family: var(--main-font);
  font-weight: 400;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.main_container .marquee .marquee__text p span {
  margin: 0 clamp(1rem, 5vw, 6.5rem);
  width: clamp(20px, 8vw, 100px);
  height: clamp(20px, 8vw, 100px);
  border-radius: 50%;
  background-color: black;
  display: inline-block;
  flex-shrink: 0;
}
.main_container .mitwit {
  width: 100%;
  margin-top: clamp(60px, 10vw, 160px);
  padding: 0 48px;
  cursor: none;
  box-sizing: border-box;
}
.main_container .mitwit .box3_box1 {
  display: flex;
  justify-content: space-between;
}
.main_container .mitwit .box3_box1 .text_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main_container .mitwit .box3_box1 .text_box h4 {
  font-size: 2.5rem;
  font-weight: 400;
  font-family: var(--encode-font);
  color: rgb(49, 49, 49);
  margin-bottom: 1rem;
}
@media (max-width: 1380px) {
  .main_container .mitwit .box3_box1 .text_box h4 {
    font-size: 2rem;
  }
}
@media (max-width: 980px) {
  .main_container .mitwit .box3_box1 .text_box h4 {
    font-size: 1.5rem;
  }
}
@media (max-width: 580px) {
  .main_container .mitwit .box3_box1 .text_box h4 {
    margin: 0.5rem 0 1rem 0;
  }
}
.main_container .mitwit .box3_box1 .text_box p {
  color: rgb(134, 134, 134);
  font-weight: 400;
  font-family: var(--encode-font);
  font-size: 1.3rem;
  line-height: 160%;
  max-width: 480px;
}
@media (max-width: 1380px) {
  .main_container .mitwit .box3_box1 .text_box p {
    font-size: 1rem;
    max-width: 350px;
  }
}
@media (max-width: 1200px) {
  .main_container .mitwit .box3_box1 .text_box p {
    font-size: 0.9rem;
    max-width: 300px;
  }
}
@media (max-width: 980px) {
  .main_container .mitwit .box3_box1 .text_box p {
    font-size: 0.8rem;
    max-width: 220px;
  }
}
@media (max-width: 580px) {
  .main_container .mitwit .box3_box1 .text_box p {
    margin: 0;
    max-width: 100%;
  }
}
.main_container .mitwit .box3_box1 .img_box {
  overflow: hidden;
  width: 65%;
  aspect-ratio: 11/9;
  position: relative;
}
.main_container .mitwit .box3_box1 .img_box .editorial {
  top: -20%;
  width: 100%;
  height: 110%;
  object-fit: cover;
  position: absolute;
}
@media (max-width: 768px) {
  .main_container .mitwit .box3_box1 {
    flex-direction: column;
  }
  .main_container .mitwit .box3_box1 .text_box {
    order: 2;
  }
  .main_container .mitwit .box3_box1 .img_box {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .main_container .mitwit {
    padding: 0 24px;
  }
}
@media (max-width: 580px) {
  .main_container .mitwit {
    padding: 0 16px;
    cursor: auto;
  }
}
.main_container .zao__section {
  margin-top: 60px;
  padding: 0 48px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  cursor: none;
}
.main_container .zao__section .zaoTwo {
  width: 750px;
}
.main_container .zao__section .zaoTwo .zao .img_box {
  height: 60vh;
}
.main_container .zao__section .zaoOne {
  width: 900px;
}
.main_container .zao__section .zaoOne .img_box {
  height: 70vh;
}
.main_container .zao__section .zaoMain {
  display: flex;
  flex-direction: column;
}
.main_container .zao__section .zaoMain .img_box {
  overflow: hidden;
  width: 100%;
  position: relative;
}
.main_container .zao__section .zaoMain .img_box .zaoImage,
.main_container .zao__section .zaoMain .img_box .newtonImage {
  width: 100%;
  height: 115%;
  top: -20%;
  object-fit: cover;
  position: absolute;
}
.main_container .zao__section .zaoMain .zao_textboxOne h4 {
  font-size: 2rem;
  font-weight: 400;
  font-family: var(--secondary-font);
  color: rgb(0, 0, 0);
  margin-bottom: 1rem;
  letter-spacing: 1px;
}
.main_container .zao__section .zaoMain .zao_textboxOne p {
  color: rgb(112, 112, 112);
  font-weight: 400;
  font-family: var(--encode-font);
  font-size: 1.2rem;
  line-height: 160%;
  max-width: 480px;
}
.main_container .three_images {
  margin-top: 60px;
  height: fit-content;
  box-sizing: border-box;
}
.main_container .three_images .three_images_container {
  display: flex;
  padding: 0 48px;
  gap: 2rem;
  justify-content: space-between;
}
.main_container .three_images .three_images_container .three {
  display: flex;
  flex-direction: column;
}
.main_container .three_images .three_images_container .three .threeImgBox {
  overflow: hidden;
  position: relative;
  width: 580px;
  height: 440px;
  cursor: none;
}
.main_container .three_images .three_images_container .three .threeImgBox .threeImg {
  top: -10%;
  width: 100%;
  position: absolute;
  height: 120%;
  margin-top: -50px;
  object-fit: cover;
}
.main_container .three_images .three_images_container .three .threeTextBox h4 {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 400;
  font-family: var(--secondary-font);
  color: rgb(0, 0, 0);
  margin-bottom: 1rem;
  letter-spacing: 1px;
}
.main_container .three_images .three_images_container .three .threeTextBox p {
  color: rgb(112, 112, 112);
  font-weight: 400;
  font-family: var(--encode-font);
  font-size: 1.2rem;
  line-height: 160%;
  max-width: 480px;
}
.main_container .lastLast {
  width: 100%;
  height: fit-content;
  padding: 48px;
  margin-bottom: 164px;
  box-sizing: border-box;
  border: 2px solid blue;
}
.main_container .lastLast .lastSection {
  width: fit-content;
}
.main_container .lastLast .lastSection .lastImgBox {
  width: 750px;
  height: 640px;
  position: relative;
  overflow: hidden;
  cursor: none;
}
.main_container .lastLast .lastSection .lastImgBox .lastImage {
  top: -10%;
  position: absolute;
  width: 100%;
  height: 110%;
  object-fit: cover;
}
.main_container .lastLast .lastSection .lastTextBox {
  cursor: none;
}
.main_container .lastLast .lastSection .lastTextBox h4 {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 400;
  font-family: var(--secondary-font);
  color: rgb(0, 0, 0);
  margin-bottom: 1rem;
  letter-spacing: 1px;
}
.main_container .lastLast .lastSection .lastTextBox p {
  color: rgb(112, 112, 112);
  font-weight: 400;
  font-family: var(--encode-font);
  font-size: 1.2rem;
  line-height: 160%;
  max-width: 480px;
}

.g__text-line-wrapper {
  position: relative;
  width: max-content;
  display: block;
}

.g-text {
  position: relative;
  display: block;
  word-wrap: break-word;
  hyphens: auto;
  overflow-wrap: break-word;
}

[data-g_text-wrapper] p {
  max-width: 100%;
  word-wrap: break-word;
}

.gText_revealer[data-has-svg=true] {
  left: 130px;
}
@media (max-width: 1500px) {
  .gText_revealer[data-has-svg=true] {
    left: 125px;
  }
}
@media (max-width: 1200px) {
  .gText_revealer[data-has-svg=true] {
    left: 105px;
  }
}
@media (max-width: 768px) {
  .gText_revealer[data-has-svg=true] {
    left: 84px;
  }
}
@media (max-width: 580px) {
  .gText_revealer[data-has-svg=true] {
    left: 54px;
  }
}

.gText_revealer {
  position: absolute;
  top: 0;
  left: 0;
  width: 130%;
  height: 100%;
  pointer-events: none;
  will-change: transform;
  z-index: 1;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 96px;
  padding: 0 24px;
  box-sizing: border-box;
  color: #fff;
  display: flex;
}
.navbar .mobileNavMenu {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  background: transparent;
  z-index: 999;
  box-sizing: border-box;
  display: block;
}
@media (min-width: 980px) {
  .navbar .mobileNavMenu {
    display: none;
  }
}
.navbar .mobileNavMenu__after .afterContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.navbar .mobileNavMenu__after .afterContainer__one {
  width: fit-content;
}
.navbar .mobileNavMenu__after .afterContainer__one h4 {
  font-size: 1.2rem;
  font-weight: 300;
  color: black;
}
.navbar .mobileNavMenu__after .afterContainer__two {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.navbar .mobileNavMenu__after .afterContainer__two .afterContainer__links {
  display: flex;
  width: fit-content;
  gap: 0.5rem;
}
.navbar .mobileNavMenu__after .afterContainer__two .afterContainer__links .linkLink {
  overflow: hidden;
  padding: 0.2rem 0;
}
.navbar .mobileNavMenu__after .afterContainer__two .afterContainer__links .linkLink .afterLinks {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 4.5rem;
  line-height: 130%;
  letter-spacing: 2px;
  position: relative;
}
@media (max-width: 580px) {
  .navbar .mobileNavMenu__after .afterContainer__two .afterContainer__links .linkLink .afterLinks {
    pointer-events: none;
  }
  .navbar .mobileNavMenu__after .afterContainer__two .afterContainer__links .linkLink .afterLinks .linklater {
    display: none;
  }
}
.navbar .mobileNavMenu__after .afterContainer__two .afterContainer__links .linkLink .afterLinks .linklater {
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  background-color: rgb(0, 0, 0);
}
@media (max-width: 768px) {
  .navbar .mobileNavMenu__after .afterContainer__two .afterContainer__links .linkLink .afterLinks {
    font-size: 4rem;
    line-height: 120%;
  }
}
.navbar .mobileNavMenu__after .afterContainer .copyright {
  color: rgb(40, 40, 40);
  position: absolute;
  bottom: 0;
}
.navbar .mobileNavMenu .pre {
  position: absolute;
  padding: 32px;
  box-sizing: border-box;
  width: 100%;
  height: 100svh;
  font-family: var(--secondary-font);
  top: 0;
}
.navbar .mobileNavMenu__pre {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(62, 62, 62);
}
.navbar .mobileNavMenu__pre h3 {
  font-size: 4.5rem;
  font-weight: 400;
  color: white !important;
}
.navbar .mobileNavMenu__after {
  background-color: white;
}
.navbar.navbarUp .navContainer {
  transform: translateY(0);
  transition: transform 0.3s ease;
}
.navbar.navbarUp .whitediv {
  top: 0;
}
.navbar.navbarUp h4 {
  color: black !important;
}
.navbar.navbarUp .nav_links {
  color: black !important;
}
.navbar.navbarUp .nav_links .linkline {
  background-color: black;
}
.navbar.navbarUp .linkline {
  background-color: black;
}
.navbar .whitediv {
  position: absolute;
  top: -100%;
  left: 0;
  background-color: white;
  width: 100%;
  height: 64px;
  transition: top 0.3s ease;
}
.navbar .navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
  transform: translateY(32px);
  transition: transform 0.3s ease;
}
.navbar .navContainer .logo {
  display: flex;
  height: 100;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.navbar .navContainer .logo .logo_svg {
  width: 2rem;
  height: 2rem;
}
.navbar .navContainer .logo h4 {
  font-size: 2rem;
  font-family: var(--amoera-font);
  color: rgb(198, 198, 198);
  font-weight: 800;
  transition: color 0.3s ease;
}
.navbar .navContainer .nav_time p {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-family: var(--main-font);
  z-index: 5;
  font-weight: 400;
}
.navbar .navContainer .nav_links_container {
  height: 100%;
  display: flex;
}
.navbar .navContainer .nav_links_container .main_nav_links {
  display: flex;
  gap: 2.5rem;
}
.navbar .navContainer .nav_links_container .main_nav_links .link_div {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  cursor: pointer;
  justify-content: space-between;
}
.navbar .navContainer .nav_links_container .main_nav_links .link_div .nav_links {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-family: var(--secondary-font);
  z-index: 5;
  font-weight: 500;
  transition: color 0.3s ease;
  position: relative;
  overflow: hidden;
}
.navbar .navContainer .nav_links_container .main_nav_links .link_div .nav_links .linkline {
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 1px;
  background-color: white;
}
.navbar .navContainer .nav_links_container .main_nav_links .link_div .nav_links .linkline.linkblack {
  background-color: black;
}
.navbar .navContainer .nav_links_container .mobilenav {
  cursor: pointer;
  display: none;
  width: 64px;
  height: 60px;
}
.navbar .navContainer .nav_links_container .mobilenav .hamburger-bar {
  position: absolute;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  right: 0;
}
.navbar .navContainer .nav_links_container .mobilenav .hamburger-bar-top {
  top: 20px;
}
@media (max-width: 980px) {
  .navbar .navContainer .nav_links_container .mobilenav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar .navContainer .nav_links_container .main_nav_links {
    display: none;
  }
}
@media (max-width: 580px) {
  .navbar {
    height: 88px;
  }
  .navbar .whitediv {
    height: 56px;
  }
  .navbar .navContainer {
    height: 56px;
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fadeOutThenSlide {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes textHeadingIn {
  0% {
    transform: translateY(calc(100% + 20px));
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes textHeadingOut {
  0% {
    transform: translateY(0);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(calc(100% + 20px));
  }
}
@keyframes textDescriptionIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes textDescriptionOut {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes clipPathAnimation {
  0% {
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 20% 100%);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.carousel__container {
  width: 100%;
  height: 100%;
}
.carousel__slides {
  position: relative;
  width: 100%;
  height: 100%;
}
.carousel__slides .darkOverlay {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  pointer-events: none;
}
.carousel__slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(105%);
  opacity: 1;
  transition: transform 1.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1), scale 1.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.carousel__slide img,
.carousel__slide video {
  position: absolute;
  inset: 0;
  display: block;
  transform: scale(1);
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}
.carousel__slide--active {
  transform: translateX(0);
  opacity: 1;
  z-index: 2;
}
.carousel__slide--active img,
.carousel__slide--active video {
  animation: scaleIn 7s linear forwards;
  transform-origin: center center;
}
.carousel__slide--prev {
  transform: translateX(0);
  opacity: 1;
  z-index: 1;
  animation: fadeOutThenSlide 3.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
.carousel__slide--prev img,
.carousel__slide--prev video {
  animation: scaleIn 7s linear forwards;
  transform-origin: center center;
}
.carousel__slide--transitioning {
  transition: transform 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}
.carousel__progress_container {
  position: absolute;
  bottom: 100px;
  left: 24px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  gap: 1.5rem;
}
@media (max-width: 768px) {
  .carousel__progress_container {
    bottom: 2.5rem;
  }
}
@media (max-width: 580px) {
  .carousel__progress_container {
    left: 16px;
  }
}
.carousel__text {
  position: relative;
  width: 1200px;
  height: 300px;
}
.carousel__text_container {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
}
.carousel__text_container--active {
  opacity: 1;
  z-index: 2;
}
.carousel__header {
  padding: 0;
  overflow: hidden;
  width: 100%;
}
.carousel__header h1 {
  line-height: 1;
  font-family: var(--amoera-font);
  color: var(--tone-0);
  font-weight: 500;
  font-size: 120px;
  text-transform: capitalize;
  margin: 0;
  transform: translateY(calc(100% + 20px));
}
.carousel__header .header--active {
  animation: textHeadingIn 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
  animation-delay: 0.75s;
}
.carousel__header .header--prev {
  animation: textHeadingOut 0.35s linear;
}
@media (max-width: 1300px) {
  .carousel__header {
    width: 800px;
  }
  .carousel__header h1 {
    font-size: 96px;
  }
}
@media (max-width: 980px) {
  .carousel__header {
    width: 600px;
  }
  .carousel__header h1 {
    font-size: 88px;
    transform: translateY(calc(100% + 20px));
  }
}
@media (max-width: 768px) {
  .carousel__header {
    width: 450px;
  }
}
@media (max-width: 580px) {
  .carousel__header h1 {
    font-size: 52px;
    line-height: 1.05;
    transform: translateY(calc(100% + 15px));
  }
}
@media (max-width: 420px) {
  .carousel__header {
    width: 300px;
  }
}
.carousel__description {
  max-width: 680px;
}
.carousel__description p {
  font-family: var(--secondary-font);
  color: var(--tone-0);
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 150%;
  letter-spacing: 1px;
  margin: 0;
  opacity: 0;
}
.carousel__description .description--active {
  animation: textDescriptionIn 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  animation-delay: 1.3s;
}
.carousel__description .description--prev {
  animation: textDescriptionOut 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}
@media (max-width: 980px) {
  .carousel__description {
    width: 580px;
  }
  .carousel__description p {
    font-size: 1.25rem;
    letter-spacing: 0.8px;
  }
}
@media (max-width: 768px) {
  .carousel__description {
    width: 350px;
  }
}
@media (max-width: 580px) {
  .carousel__description p {
    font-size: 1.05rem;
    line-height: 145%;
    letter-spacing: 0.6px;
  }
}
@media (max-width: 420px) {
  .carousel__description {
    width: 250px;
  }
}
.carousel__progress {
  display: flex;
  gap: 1.2rem;
  z-index: 10;
}
@media (max-width: 580px) {
  .carousel__progress {
    gap: 0.9rem;
  }
}
.carousel__progress-dot {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 64px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  overflow: hidden;
  transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.carousel__progress-dot:hover {
  background: rgba(255, 255, 255, 0.5);
  width: 1rem;
}
.carousel__progress-dot--active {
  transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 64px;
  width: 64px;
  pointer-events: none;
  background: rgba(216, 216, 216, 0.5);
}
.carousel__progress-fill {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 64px;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  width: 0%;
}

.trial_animations {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  cursor: pointer;
}
svg #curve {
  fill: none;
}
svg .spin_text {
  fill: white;
  font-family: var(--auxilliary-font);
  font-weight: 800;
  font-size: 1.3rem;
}
@media (max-width: 980px) {
  svg .spin_text {
    display: none;
  }
}

.animated-link {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.animated-link:hover svg {
  transform: translateX(4px);
  fill: rgb(255, 128, 0);
}
.animated-link svg {
  margin-top: 0.3rem;
}
.animated-link .fortyFive {
  transform: rotate(-45deg);
}

.animated-link__icon {
  display: block;
  flex-shrink: 0;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  fill: rgb(125, 125, 125);
}

.animated-link__text {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  transition: color 0.3s ease;
}

.footer_main {
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: black;
  overflow: hidden;
  padding-bottom: 32px;
}
.footer_main > * {
  color: white;
  font-family: var(--secondary-font);
}
.footer_main .footerMarquee {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
}
.footer_main .footerMarquee .mq {
  display: flex;
}
.footer_main .footerMarquee .mq .mqItem {
  display: flex;
  align-items: center;
  height: fit-content;
  gap: 2rem;
  padding-left: 1rem;
}
.footer_main .footerMarquee .mq .mqItem .plus {
  width: 56px;
  height: 56px;
}
.footer_main .footerMarquee .mq .mqItem p {
  line-height: 1.3;
  width: max-content;
  margin: 0;
  color: white;
  font-family: var(--secondary-font);
  font-size: 144px;
  font-weight: 300;
}
.footer_main .footerSectionTwo .footerSectionTwoContainer {
  margin-top: 140px;
  padding-left: 200px;
  display: flex;
}
.footer_main .footerSectionTwo .footerSectionTwoContainer .sectOne {
  display: flex;
  flex-direction: column;
}
.footer_main .footerSectionTwo .footerSectionTwoContainer .sectOne .sectOneMenu {
  display: flex;
  gap: 240px;
}
.footer_main .footerSectionTwo .footerSectionTwoContainer .sectOne .sectOneMenu .menu__one {
  display: flex;
  gap: 100px;
}
.footer_main .footerSectionTwo .footerSectionTwoContainer .sectOne .sectOneMenu .menu__one span {
  font-size: 24px;
  color: gray;
  font-weight: 500;
}
.footer_main .footerSectionTwo .footerSectionTwoContainer .sectOne .sectOneMenu .menu__one .menu_items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.footer_main .footerSectionTwo .footerSectionTwoContainer .sectOne .sectOneMenu .menu__two {
  display: flex;
  gap: 2rem;
}
.footer_main .footerSectionTwo .footerSectionTwoContainer .sectOne .sectOneMenu .menu__two span {
  font-size: 24px;
  color: gray;
  font-weight: 500;
  margin-right: 48px;
}
.footer_main .footerSectionTwo .footerSectionTwoContainer .sectOne .sectOneBonjour {
  padding-top: 100px;
  cursor: pointer;
}
.footer_main .footerSectionTwo .footerSectionTwoContainer .sectOne .sectOneBonjour div {
  width: fit-content;
  overflow: hidden;
}
.footer_main .footerSectionTwo .footerSectionTwoContainer .sectOne .sectOneBonjour p {
  font-size: 140px;
  margin: 0;
  line-height: 1;
  letter-spacing: 3px;
}
.footer_main .footerSectionTwo .footerSectionTwoContainer .sectOne .sectOneBonjour .line {
  height: 3px;
  background: linear-gradient(to bottom, #d6d6d6 0%, #f2f2f2 25%, #ffffff 50%, #f2f2f2 75%, #d6d6d6 100%);
  width: 0%;
  margin-top: 0.3rem;
}
.footer_main .footerSectionTwo .footerSectionTwoContainer .sectOne .sectOneAddress {
  display: flex;
  align-items: center;
  margin-top: 32px;
  justify-content: space-between;
}
.footer_main .footerSectionTwo .footerSectionTwoContainer .sectOne .sectOneAddress span {
  font-size: 24px;
  color: gray;
  font-weight: 500;
}
.footer_main .footerSectionTwo .footerSectionTwoContainer .sectOne .sectOneAddress p {
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  margin-right: 48px;
  margin: 0;
  line-height: 1;
}
.footer_main .footerSectionTwo .footerSectionTwoContainer .sectOne .sectOneCredits {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0 12px 0;
}
.footer_main .footerSectionTwo .footerSectionTwoContainer .sectOne .sectOneCredits p {
  margin: 0;
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: 500;
}
.footer_main .footerSectionTwo .footerSectionTwoContainer .sectOne .sectOneCredits .credits {
  position: relative;
}
.footer_main .footerSectionTwo .footerSectionTwoContainer .sectOne .sectOneCredits .credits .flipContainer {
  position: absolute;
  top: -135%;
  left: 0.5rem;
}
.footer_main .footerSectionTwo .footerSectionTwoContainer .sectOne .sectOneCredits .credits .flipContainer span {
  width: max-content;
  font-size: 22px;
  color: gray;
  font-weight: 500;
  margin-right: 1rem;
}
.footer_main .footerSectionTwo .footerSectionTwoContainer .sectOne .sectOneCredits .credits .flipContainer .flipCredits {
  width: max-content;
  margin: 0;
  line-height: 1.2;
  opacity: 0;
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  cursor: pointer;
}
.footer_main .footerSectionTwo .footerSectionTwoContainer .sectOne .sectOneCredits .credits .flipContainer .flipCredits .to {
  color: white;
}
.footer_main .footerSectionTwo .footerSectionTwoContainer .sectOne .sectOneCredits .credits .flipContainer .flipCredits .to:hover {
  transform: scale(0.9);
  color: rgb(201, 144, 0);
  transition: all 0.3s ease-in-out;
}
.footer_main .footerSectionTwo .footerSectionTwoContainer .sectTwo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sandbox {
  position: relative;
  height: 100vh;
  width: 100%;
  border: 2px solid red;
}
.sandbox img {
  position: absolute;
  inset: 0;
}
/*# sourceMappingURL=index.css.map */
