@font-face {
  font-family: "nhg";
  src: url("../../../public/Fonts/neue_haas_grotesk/NeueHaasDisplayLight.ttf");
  font-style: normal;
}

@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");

@import url("https://fonts.cdnfonts.com/css/overused-grotesk");

@import url("https://fonts.cdnfonts.com/css/amoera");

@import url("https://fonts.cdnfonts.com/css/br-segma");

@import url("https://fonts.cdnfonts.com/css/manifesto");

@import url("https://fonts.cdnfonts.com/css/roboto-condensed-3");

:root {
  --tone-0: #ffffff;
  --tone-100: #000000;
  --tone-200: #222222;
  --tone-300: #5b5c57;
  --tone-400: #e3e4d8;
  --tone-500: #b6fe4b;
  --tone-600: #ff0000;
  --main-font: "PP Neue Montreal", sans-serif;
  --secondary-font: "Overused Grotesk", sans-serif;
  --amoera-font: "amoera", sans-serif;
  --encode-font: "BR Segma", sans-serif;
  --rogan-font: "MANIFESTO", sans-serif;
  --auxilliary-font: "Roboto Condensed", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  background: #ffffff;
  padding: 0;
}

// body::-webkit-scrollbar {
//   display: none;
// }
.custom-cursor {
  position: fixed;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 999;
  transition: scale 0.3s ease;
  color: white;
  box-sizing: border-box;
  overflow: hidden;
  transition:
    left 0.1s ease-out,
    top 0.1s ease-out;
  .c1,
  .c2 {
    width: 60px;
    height: 60px;
    position: absolute;
  }
  .c1 {
    transform: translateX(-125%);
  }

  @media (hover: none) and (pointer: coarse) {
    display: none;
  }

  @media (max-width: 580px) {
    display: none;
  }
}
.custom-cursor .visible {
  opacity: 1;
}

.main_container {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  section {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
  }
  .hero_section {
    height: 100vh;
    position: relative;
    overflow: hidden;
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0);
      z-index: 3;
      pointer-events: none;
    }
    .hero_carousel_container {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      position: relative;

      .circular__text_container {
        display: block;
        position: absolute;
        bottom: 100px;
        right: 24px;
        z-index: 3;
        @media (max-width: 768px) {
          bottom: 0;
          right: -2rem;
        }
        @media (max-width: 580px) {
          bottom: 2.5rem;
          right: -3rem;
        }
      }
    }
  }

  .about {
    display: flex;
    flex-direction: column;
    padding: 136px 48px 0 48px;
    @media (max-width: 768px) {
      padding: 64px 16px 0 16px;
    }
    svg {
      width: 36px;
      height: 36px;
    }
    .line {
      // border: 2px solid red;
      overflow: hidden;
      .split_up {
        transform: translateY(100%);
      }
      span {
        font-family: var(--rogan-font);
        font-weight: 800;
        /* Fluid font-size with clamp(min, preferred, max) */
        font-size: clamp(32px, 10vw + 1.5rem, 170px);
        letter-spacing: -1.2rem;
        line-height: 1;
        display: inline-block;
        @media (max-width: 980px) {
          letter-spacing: -0.8rem;
        }
        @media (max-width: 580px) {
          letter-spacing: -0.5rem;
        }
      }
    }
    .la__marque {
      display: flex;
      flex-direction: column;
      .au__coeur {
        display: flex;
        .la__marque_svg {
          display: flex;
          flex-direction: column;
          margin-left: 0.5rem;
          @media (max-width: 580px) {
            svg {
              width: 12px;
              height: 12px;
            }
          }
        }
      }
    }

    .wipe__inText {
      overflow: hidden;
      padding-top: 90px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      #dot {
        width: 48px;
        height: 48px;
        transform: scale(0.5);
        @media (max-width: 768px) {
          width: 32px;
          height: 32px;
        }
      }

      #heart {
        width: 48px;
        height: 48px;
        transform: scale(0.5);
        @media (max-width: 768px) {
          width: 32px;
          height: 32px;
        }
      }
      .textbox_one {
        margin-bottom: 72px;
        .fd {
          @media (max-width: 580px) {
            word-wrap: break-word;
            overflow-wrap: break-word;
            width: 100%;
          }
        }
      }
      .textbox_two {
        #arrow__p {
          span {
            position: relative;
            z-index: 999;
            margin-right: 0.5rem;
            overflow: hidden;
            width: 72px;
            height: 54px;
            #orangeArrow {
              position: absolute;
              top: -14px;
              left: 0;
              width: 72px;
              height: 72px;
              margin-right: 1rem;
              z-index: 999;
              // border: 1px solid blue;
            }
            @media (max-width: 1200px) {
              width: 64px;
              height: 46;
              #orangeArrow {
                width: 64px;
                height: 64px;
              }
            }
            @media (max-width: 768px) {
              width: 48px;
              height: 34px;
              #orangeArrow {
                top: -9px;
                width: 48px;
                height: 48px;
              }
            }
          }
        }
        .wipe__button {
          margin-top: 60px;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          .button {
            box-sizing: border-box;
            width: 224px;
            height: 48px;
            border: 1px solid #464646;
            padding: 0;
            border-radius: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            span {
              position: relative;
              display: inline-block;
              font-family: var(--encode-font);
              font-size: 20px;
              font-weight: 400;
              letter-spacing: 1px;
              color: #464646;
              text-transform: uppercase;
              margin: 0;
            }
            :nth-child(1) {
              position: absolute;
              top: 50%;
              left: -36px;
              transform: translateY(-50%) rotate(90deg);
            }
            :nth-child(3) {
              transform: rotate(45deg);
              margin-left: -5px;
            }
            @media (max-width: 768px) {
              width: 180px;
              height: 32px;
              margin: 0 auto;

              span {
                font-size: 1rem;
                letter-spacing: 0.5px;
              }

              :nth-child(1) {
                left: -28px;
                width: 28px;
                height: 28px;
              }

              :nth-child(3) {
                width: 28px;
                height: 28px;
                margin: 0 0 4px 0;
              }
            }
          }
          @media (max-width: 768px) {
            width: max-content;
          }
        }
      }
      .text_box {
        width: fit-content;

        p {
          /* Fluid font-size: 28px (mobile) to 66px (desktop) */
          font-size: clamp(2.5rem, 4vw, 4.125rem);

          font-family: var(--encode-font);
          text-transform: uppercase;
          font-weight: 400;
          margin: 0 0 0.75rem 0; /* Using rem for responsive margins */

          /* Fluid letter-spacing: -0.5px (mobile) to -2px (desktop) */
          letter-spacing: clamp(-0.05rem, -0.1vw - 0.01rem, -0.125rem);

          span {
            display: inline-block;
            /* Fluid margin-left based on font-size */
            margin-left: 0.5rem; /* Use em for relative spacing */
          }
        }
        @media (max-width: 980px) {
          p {
            margin: 0 0 0.3rem 0;
            word-wrap: break-word;
          }
        }
        @media (max-width: 580px) {
          width: 100%;
          p {
            width: max-content;
          }
        }
      }
    }
  }
  .marquee {
    margin-top: clamp(80px, 20vw, 240px);
    width: 100%;
    overflow: hidden;
    .marquee__text {
      display: flex;
      p {
        font-size: clamp(144px, 24vw, 448px);
        margin: 0;
        line-height: 1;
        font-family: var(--main-font);
        font-weight: 400;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        span {
          margin: 0 clamp(1rem, 5vw, 6.5rem);
          width: clamp(20px, 8vw, 100px);
          height: clamp(20px, 8vw, 100px);
          border-radius: 50%;
          background-color: black;
          display: inline-block;
          flex-shrink: 0;
        }
      }
    }
  }
  .mitwit {
    width: 100%;
    margin-top: clamp(60px, 10vw, 160px);
    padding: 0 48px;
    cursor: none;
    box-sizing: border-box;
    // border: 2px solid red;
    .box3_box1 {
      display: flex;
      //
      justify-content: space-between;
      .text_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h4 {
          font-size: 2.5rem;
          font-weight: 400;
          font-family: var(--encode-font);
          color: rgb(49, 49, 49);
          margin-bottom: 1rem;
          @media (max-width: 1380px) {
            font-size: 2rem;
          }

          @media (max-width: 980px) {
            font-size: 1.5rem;
          }

          @media (max-width: 580px) {
            margin: 0.5rem 0 1rem 0;
          }
        }
        p {
          color: rgb(134, 134, 134);
          font-weight: 400;
          font-family: var(--encode-font);
          font-size: 1.3rem;
          line-height: 160%;
          max-width: 480px;
          @media (max-width: 1380px) {
            font-size: 1rem;
            max-width: 350px;
          }

          @media (max-width: 1200px) {
            font-size: 0.9rem;
            max-width: 300px;
          }

          @media (max-width: 980px) {
            font-size: 0.8rem;
            max-width: 220px;
          }
          @media (max-width: 580px) {
            margin: 0;
            max-width: 100%;
          }
        }
      }
      .img_box {
        overflow: hidden;
        width: 65%;
        aspect-ratio: 11/9;
        position: relative;
        // border: 2px solid blue;
        .editorial {
          top: -15%;
          width: 100%;
          height: 110%;
          object-fit: cover;
          position: absolute;
          @media (max-width: 1380px) {
            top: -10%;
          }
        }
      }
      @media (max-width: 768px) {
        flex-direction: column;

        .text_box {
          order: 2;
        }
        .img_box {
          width: 100%;
        }
      }
    }
    @media (max-width: 768px) {
      padding: 0 24px;
    }
    @media (max-width: 580px) {
      padding: 0 16px;
      cursor: auto;
    }
  }
  // ZAO SECTION
  .zao__section {
    width: 100%;
    margin-top: 96px;
    padding: 0 48px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    cursor: none;
    height: fit-content;
    // pointer-events: none;
    gap: 180px;
    @media (max-width: 1300px) {
      gap: 120px;
    }
    @media (max-width: 980px) {
      flex-direction: column;
      gap: 48px;
    }
    @media (max-width: 580px) {
      padding: 0 16px;
      cursor: auto;
    }
    .zaoTwo {
      width: 750px;
      @media (max-width: 980px) {
        width: 400px;
        align-self: center;
      }
      @media (max-width: 580px) {
        width: 100%;
      }
      .zao {
        .img_box {
          aspect-ratio: 11/8.2;
        }
      }
    }
    .zaoOne {
      width: 900px;
      @media (max-width: 980px) {
        width: 540px;
      }
      @media (max-width: 768px) {
        align-self: center;
      }
      @media (max-width: 580px) {
        width: 100%;
      }
      .img_box {
        aspect-ratio: 11/8;
      }
    }
    .zaoMain {
      display: flex;
      flex-direction: column;
      // border: 2px solid blue;
      .img_box {
        overflow: hidden;
        width: 100%;
        position: relative;
        .zaoImage,
        .newtonImage {
          width: 100%;
          height: 115%;
          top: -20%;
          object-fit: cover;
          position: absolute;
        }
      }
      .zao_textboxOne {
        width: 100%;
        h4 {
          font-size: 2rem;
          font-weight: 400;
          font-family: var(--secondary-font);
          color: rgb(0, 0, 0);
          margin-bottom: 1rem;
          letter-spacing: 1px;
          @media (max-width: 1380px) {
            font-size: 1.5rem;
          }

          @media (max-width: 1200px) {
            margin: 0;
          }

          @media (max-width: 980px) {
            font-size: 1.3rem;
          }

          @media (max-width: 580px) {
            margin: 0.5rem 0 1rem 0;
          }
        }
        p {
          color: rgb(112, 112, 112);
          font-weight: 400;
          font-family: var(--encode-font);
          font-size: 1rem;
          line-height: 160%;
          max-width: 480px;
          @media (max-width: 1380px) {
            font-size: 0.9rem;
            max-width: 100%;
          }

          @media (max-width: 1200px) {
            font-size: 0.8rem;
            max-width: 80%;
            line-height: 1.4;
          }

          @media (max-width: 980px) {
            max-width: 80%;
          }
          @media (max-width: 580px) {
            margin: 0;
            max-width: 90%;
          }
          @media (max-width: 480px) {
            max-width: 100%;
          }
        }
      }
    }
  }
  .three_images {
    margin-top: 60px;
    height: fit-content;
    box-sizing: border-box;
    width: 100%;
    @media (max-width: 580px) {
      margin-top: 3rem;
    }
    .three_images_container {
      display: flex;
      padding: 0 48px;
      gap: 2rem;
      width: 100%;
      justify-content: space-between;
      box-sizing: border-box;
      overflow: hidden;
      @media (max-width: 980px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      @media (max-width: 580px) {
        padding: 0 16px;
      }
      .three {
        display: flex;
        flex-direction: column;
        flex: 1;
        .threeImgBox {
          overflow: hidden;
          position: relative;
          width: 100%;
          cursor: none;
          aspect-ratio: 10/7.6;
          @media (max-width: 1200px) {
            width: 100%;
          }
          @media (max-width: 580px) {
            width: 100%;
          }
          .threeImg {
            top: -10%;
            width: 100%;
            position: absolute;
            height: 120%;
            object-fit: cover;
          }
        }
        .threeTextBox {
          h4 {
            margin-top: 1rem;
            font-size: 2rem;
            font-weight: 400;
            font-family: var(--secondary-font);
            color: rgb(0, 0, 0);
            margin-bottom: 1rem;
            letter-spacing: 1px;
            @media (max-width: 1300px) {
              font-size: 1.5rem;
            }

            @media (max-width: 980px) {
              font-size: 1.3rem;
              margin-bottom: 0.5rem;
            }
          }
          p {
            color: rgb(112, 112, 112);
            font-weight: 400;
            font-family: var(--encode-font);
            font-size: 1rem;
            line-height: 160%;
            max-width: 480px;
            margin: 0;
            @media (max-width: 1380px) {
              font-size: 1rem;
              max-width: 350px;
            }

            @media (max-width: 1200px) {
              font-size: 0.9rem;
              max-width: 300px;
            }

            @media (max-width: 980px) {
              font-size: 0.8rem;
              max-width: 540px;
            }
            @media (max-width: 580px) {
              margin: 0;
              max-width: 100%;
            }
          }
        }
      }
    }
  }

  .secondlast {
    margin-bottom: 0;
  }
  .lastLast {
    width: 100%;
    height: fit-content;
    padding: 48px;
    margin-bottom: 164px;
    box-sizing: border-box;
    @media (max-width: 580px) {
      margin-bottom: 0;
      padding: 48px 16px;
    }

    .lastSection {
      width: 100%; // CHANGED from fit-content
      max-width: 800px; // ADD THIS - preserves max size

      .lastImgBox {
        width: 100%; // CHANGED from 800px
        aspect-ratio: 11/8;
        position: relative;
        overflow: hidden;
        cursor: none;

        .lastImage {
          top: -10%;
          position: absolute;
          width: 100%;
          height: 110%;
          object-fit: cover;
        }
      }

      .lastTextBox {
        cursor: none;
        h4 {
          margin-top: 1rem;
          font-size: 2rem;
          font-weight: 400;
          font-family: var(--secondary-font);
          color: rgb(0, 0, 0);
          margin-bottom: 1rem;
          letter-spacing: 1px;
          @media (max-width: 1380px) {
            font-size: 1.5rem;
          }

          @media (max-width: 1200px) {
            margin: 0;
          }

          @media (max-width: 980px) {
            font-size: 1.3rem;
          }

          @media (max-width: 580px) {
            margin: 0.5rem 0 1rem 0;
          }
        }
        p {
          color: rgb(112, 112, 112);
          font-weight: 400;
          font-family: var(--encode-font);
          font-size: 1rem;
          line-height: 160%;
          max-width: 480px;
          @media (max-width: 1380px) {
            font-size: 0.9rem;
            max-width: 100%;
          }

          @media (max-width: 1200px) {
            font-size: 0.8rem;
            max-width: 80%;
            line-height: 1.4;
          }

          @media (max-width: 980px) {
            max-width: 80%;
          }
          @media (max-width: 580px) {
            margin: 0;
            max-width: 90%;
          }
          @media (max-width: 480px) {
            max-width: 100%;
          }
        }
      }
    }
  }
}

.g__text-line-wrapper {
  position: relative;
  width: max-content;
  display: block;
  // overflow: hidden;
}

.g-text {
  position: relative;
  display: block;
  word-wrap: break-word;
  hyphens: auto;
  overflow-wrap: break-word;
}

[data-g_text-wrapper] p {
  max-width: 100%;
  word-wrap: break-word;
}

.gText_revealer[data-has-svg="true"] {
  left: 130px;
  @media (max-width: 1500px) {
    left: 125px;
  }

  @media (max-width: 1200px) {
    left: 105px;
  }

  @media (max-width: 768px) {
    left: 84px;
  }

  @media (max-width: 580px) {
    left: 54px;
  }
}

.gText_revealer {
  position: absolute;
  top: 0;
  left: 0;
  width: 130%;
  height: 100%;
  pointer-events: none;
  will-change: transform;
  z-index: 1;
}

// NAVBAR
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 96px;
  padding: 0 24px;
  box-sizing: border-box;
  color: #fff;
  display: flex;

  .mobileNavMenu {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    background: transparent;
    z-index: 999;
    box-sizing: border-box;
    display: block;
    @media (min-width: 980px) {
      display: none;
    }
    &__after {
      .afterContainer {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        &__one {
          width: fit-content;
          h4 {
            font-size: 1.2rem;
            font-weight: 300;
            color: black;
          }
        }
        &__two {
          display: flex;
          flex-direction: column;
          gap: 0;
          .afterContainer__links {
            display: flex;
            width: fit-content;
            gap: 0.5rem;
            .linkLink {
              overflow: hidden;
              padding: 0.2rem 0;
              .afterLinks {
                text-decoration: none;
                color: rgb(0, 0, 0);
                font-size: 4.5rem;
                line-height: 130%;
                letter-spacing: 2px;
                position: relative;
                @media (max-width: 580px) {
                  pointer-events: none;
                  .linklater {
                    display: none;
                  }
                }
                .linklater {
                  position: absolute;
                  bottom: 0;
                  left: -100%;
                  width: 100%;
                  height: 3px;
                  background-color: rgb(0, 0, 0);
                }
              }
            }
            @media (max-width: 768px) {
              .linkLink {
                .afterLinks {
                  font-size: 4rem;
                  line-height: 120%;
                }
              }
            }
          }
        }
        .copyright {
          color: rgb(40, 40, 40);
          position: absolute;
          bottom: 0;
        }
      }
    }
    .pre {
      position: absolute;
      padding: 32px;
      box-sizing: border-box;
      width: 100%;
      height: 100svh;
      font-family: var(--secondary-font);
      top: 0;
    }
    &__pre {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(62, 62, 62);
      h3 {
        font-size: 4.5rem;
        font-weight: 400;
        color: white !important;
      }
    }
    &__after {
      background-color: white;
    }
  }
  &.navbarUp {
    .navContainer {
      transform: translateY(0);
      transition: transform 0.3s ease;
    }
    .whitediv {
      top: 0;
    }
    h4 {
      color: black !important;
    }
    .nav_links {
      color: black !important;
      .linkline {
        background-color: black;
      }
    }
    .linkline {
      background-color: black;
    }
  }
  .whitediv {
    position: absolute;
    top: -100%;
    left: 0;
    background-color: white;
    width: 100%;
    height: 64px;
    transition: top 0.3s ease;
  }
  .navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border: 2px solid blue;
    height: 64px;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    transform: translateY(32px);
    transition: transform 0.3s ease;
    .logo {
      display: flex;
      height: 100;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      // border: 1px solid blue;

      .logo_svg {
        width: 2rem;
        height: 2rem;
      }
      h4 {
        font-size: 2rem;
        font-family: var(--amoera-font);
        color: rgb(198, 198, 198);
        font-weight: 800;
        transition: color 0.3s ease;
      }
    }
    .nav_time {
      p {
        font-size: 1rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        font-family: var(--main-font);
        z-index: 5;
        font-weight: 400;
      }
    }
    .nav_links_container {
      height: 100%;
      display: flex;
      .main_nav_links {
        display: flex;
        gap: 2.5rem;
        .link_div {
          display: flex;
          align-items: center;
          padding: 0 1rem;
          cursor: pointer;
          justify-content: space-between;
          .nav_links {
            font-size: 1rem;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: none;
            color: white;
            font-family: var(--secondary-font);
            z-index: 5;
            font-weight: 500;
            transition: color 0.3s ease;
            position: relative;
            overflow: hidden;
            .linkline {
              position: absolute;
              bottom: 0;
              left: -100%;
              width: 100%;
              height: 1px;
              background-color: white;
              &.linkblack {
                background-color: black;
              }
            }
          }
        }
      }
      .mobilenav {
        cursor: pointer;
        display: none;
        width: 64px;
        height: 60px;
        .hamburger-bar {
          position: absolute;
          width: 36px;
          height: 2px;
          background-color: #ffffff;
          right: 0;
        }

        .hamburger-bar-top {
          top: 20px;
        }
      }
      @media (max-width: 980px) {
        .mobilenav {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .main_nav_links {
          display: none;
        }
      }
    }
  }
  @media (max-width: 580px) {
    height: 88px;
    padding: 0 16px;
    .whitediv {
      height: 56px;
    }
    .navContainer {
      height: 56px;
    }
  }
}
// CAROUSEL

@keyframes scaleIn {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeOutThenSlide {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes textHeadingIn {
  0% {
    transform: translateY(calc(100% + 20px));
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes textHeadingOut {
  0% {
    transform: translateY(0);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(calc(100% + 20px));
  }
}

// Text description animation (lines with fade-up)
@keyframes textDescriptionIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes textDescriptionOut {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes clipPathAnimation {
  0% {
    clip-path: polygon(
      20% 0%,
      /* left top */ 100% 0%,
      /* right top */ 100% 100%,
      /* right bottom */ 20% 100% /* left bottom */
    );
  }
  100% {
    clip-path: polygon(
      0% 0%,
      /* left top */ 100% 0%,
      /* right top */ 100% 100%,
      /* right bottom */ 0% 100% /* left bottom */
    );
  }
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &__container {
    width: 100%;
    height: 100%;
  }

  &__slides {
    position: relative;
    width: 100%;
    height: 100%;
    .darkOverlay {
      z-index: 3;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 1);
      pointer-events: none;
    }
  }

  &__slide {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(105%);
    opacity: 1;
    transition:
      transform 1.2s cubic-bezier(0.4, 0, 0.2, 1),
      opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1),
      scale 1.2s cubic-bezier(0.4, 0, 0.2, 1);
    img,
    video {
      position: absolute;
      inset: 0;
      display: block;
      transform: scale(1);
      object-fit: cover;
      min-width: 100%;
      min-height: 100%;
    }

    &--active {
      transform: translateX(0);
      opacity: 1;
      z-index: 2;
      // animation: clipPathAnimation 1.2s cubic-bezier(0.4, 0, 0.2, 1);
      img,
      video {
        animation: scaleIn 7s linear forwards;
        transform-origin: center center;
      }
    }

    &--prev {
      transform: translateX(0);
      opacity: 1;
      z-index: 1;
      animation: fadeOutThenSlide 3.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;

      img,
      video {
        animation: scaleIn 7s linear forwards;
        transform-origin: center center;
      }
    }

    &--transitioning {
      transition:
        transform 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86),
        opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__progress_container {
    position: absolute;
    bottom: 100px;
    left: 24px;
    display: flex;
    flex-direction: column;
    z-index: 3;
    gap: 1.5rem;

    @media (max-width: 768px) {
      bottom: 2.5rem;
    }
    @media (max-width: 580px) {
      left: 16px;
      bottom: 100px;
    }
  }

  &__text {
    position: relative;
    width: 1200px;
    height: 300px;
  }

  &__text_container {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    &--active {
      opacity: 1;
      z-index: 2;
    }
  }

  &__header {
    // border: 2px solid purple;
    padding: 0;
    overflow: hidden;
    width: 100%;
    h1 {
      line-height: 1;
      font-family: var(--amoera-font);
      color: var(--tone-0);
      font-weight: 500;
      font-size: 120px;
      text-transform: capitalize;
      margin: 0;
      transform: translateY(calc(100% + 20px));
    }
    .header--active {
      animation: textHeadingIn 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
      animation-delay: 0.75s;
    }
    .header--prev {
      animation: textHeadingOut 0.35s linear;
    }

    @media (max-width: 1300px) {
      width: 800px;
      h1 {
        font-size: 96px;
      }
    }

    @media (max-width: 980px) {
      width: 600px;
      h1 {
        font-size: 88px;
        transform: translateY(calc(100% + 20px));
      }
    }

    @media (max-width: 768px) {
      width: 450px;
    }

    @media (max-width: 580px) {
      h1 {
        font-size: 52px;
        line-height: 1.05;
        transform: translateY(calc(100% + 15px));
      }
    }

    @media (max-width: 420px) {
      width: 300px;
    }
  }

  &__description {
    max-width: 680px;
    // border: 2px solid yellow;
    p {
      font-family: var(--secondary-font);
      color: var(--tone-0);
      font-weight: 300;
      font-size: 1.5rem;
      line-height: 150%;
      letter-spacing: 1px;
      margin: 0;
      opacity: 0;
    }
    .description--active {
      animation: textDescriptionIn 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
      animation-delay: 1.3s;
    }
    .description--prev {
      animation: textDescriptionOut 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    }

    @media (max-width: 980px) {
      width: 580px;
      p {
        font-size: 1.25rem;
        letter-spacing: 0.8px;
      }
    }

    @media (max-width: 768px) {
      width: 350px;
    }

    @media (max-width: 580px) {
      p {
        font-size: 1.05rem;
        line-height: 145%;
        letter-spacing: 0.6px;
      }
    }

    @media (max-width: 420px) {
      width: 250px;
    }
  }

  &__progress {
    display: flex;
    gap: 1.2rem;
    z-index: 10;
    @media (max-width: 580px) {
      gap: 0.9rem;
    }
  }

  &__progress-dot {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 64px;
    background: rgba(255, 255, 255, 1);
    cursor: pointer;
    overflow: hidden;
    transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background: rgba(255, 255, 255, 0.5);
      width: 1rem;
    }

    &--active {
      transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);
      border-radius: 64px;
      width: 64px;
      pointer-events: none;
      background: rgba(216, 216, 216, 0.5);
    }
  }
  &__progress-fill {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 64px;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    width: 0%; // Default width
  }
}

// TRIAL ANIMATIONS
.trial_animations {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  cursor: pointer;
  #curve {
    fill: none;
    // stroke: rgb(255, 0, 0);
    // stroke-width: 4;
  }
  .spin_text {
    fill: white;
    font-family: var(--auxilliary-font);
    font-weight: 800;
    font-size: 1.3rem;
  }

  @media (max-width: 980px) {
    .spin_text {
      display: none;
    }
  }
}

// ANIMATED LINK
.animated-link {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    svg {
      transform: translateX(4px);
      fill: rgb(255, 128, 0);
    }
  }
  svg {
    margin-top: 0.3rem;
  }
  .fortyFive {
    transform: rotate(-45deg);
  }
}

.animated-link__icon {
  display: block;
  flex-shrink: 0;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  fill: rgb(125, 125, 125);
  @media (max-width: 1380px) {
    width: 16px;
    height: 16px;
  }
}

.animated-link__text {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  transition: color 0.3s ease;
  font-size: clamp(0.9rem, 1.3vw + 0.2rem, 1.5rem);
}

// FOOTER
.footer_main {
  min-height: fit-content;
  width: 100vw;
  box-sizing: border-box;
  background-color: black;
  overflow: hidden;
  padding-bottom: 32px;
  @media (max-width: 980px) {
    min-height: fit-content;
    padding: 0;
  }
  > * {
    color: white;
    font-family: var(--secondary-font);
  }
  .footerMarquee {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    .mq {
      display: flex;
      .mqItem {
        display: flex;
        align-items: center;
        height: fit-content;
        gap: 2rem;
        padding-left: 1rem;
        .plus {
          width: 56px;
          height: 56px;
        }
        p {
          line-height: 1.3;
          width: max-content;
          margin: 0;
          color: white;
          font-family: var(--secondary-font);
          font-size: clamp(2.5rem, 7.5vw + 0.5rem, 9rem);
          font-weight: 300;
        }
      }
    }
    @media (max-width: 1380px) {
      padding-top: 32px;
      .mq {
        .mqItem {
          .plus {
            width: 48px;
            height: 48px;
          }
        }
      }
    }
    @media (max-width: 980px) {
      .mq {
        .mqItem {
          gap: 1rem;
          .plus {
            width: 32px;
            height: 32px;
          }
        }
      }
    }
    @media (max-width: 768px) {
      background-color: rgb(33, 33, 33);
      padding: 24px 0;
      .mq {
        .mqItem {
          .plus {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
  .footerSectionTwo {
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    .footerSectionTwoContainer {
      margin-top: 140px;
      padding-left: 200px;
      display: flex;
      box-sizing: border-box;
      width: 100%;
      @media (max-width: 1500px) {
        padding-left: 84px;
      }
      @media (max-width: 1380px) {
        margin-top: 64px;
        padding: 0 48px;
      }
      @media (max-width: 980px) {
        padding: 0;
      }
      .sectOne {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        // border: 2px solid blue;
        @media (max-width: 1380px) {
          width: 100%;
        }
        @media (max-width: 980px) {
          padding: 0 16px 32px 16px;
        }
        @media (max-width: 768px) {
          .sectOneMenu {
            order: 2;
          }
          .sectOneBonjour {
            order: 1;
          }
          .sectOneAddress {
            order: 3;
          }
          .sectOneCredits {
            order: 4;
          }
        }
        .sectOneMenu {
          display: flex;
          gap: 200px;
          .menu__one {
            display: flex;
            gap: 100px;
            span {
              font-size: clamp(0.9rem, 1.3vw + 0.2rem, 1.5rem);
              color: gray;
              font-weight: 500;
            }
            .menu_items {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              gap: 1.5rem;
            }
            @media (max-width: 1380px) {
              gap: 1.5rem;
              .menu_items {
                gap: 0.5rem;
                div {
                  margin-right: 1rem;
                }
              }
            }
            @media (max-width: 768px) {
              display: none;
            }
          }
          .menu__two {
            display: flex;
            gap: 1.5rem;
            span {
              font-size: clamp(0.9rem, 1.3vw + 0.2rem, 1.5rem);
              color: gray;
              font-weight: 500;
              margin-right: 48px;
              width: max-content;
              @media (max-width: 768px) {
                display: none;
              }
            }
            @media (max-width: 1380px) {
              gap: 0;
            }
            @media (max-width: 768px) {
              div {
                margin-right: 0.5rem;
              }
            }
          }
          @media (max-width: 980px) {
            gap: 0;
            justify-content: space-between;
            margin: 1rem 0;
          }
        }
        .sectOneBonjour {
          padding-top: 100px;
          cursor: pointer;
          div {
            width: fit-content;
            overflow: hidden;
          }
          p {
            font-size: clamp(2rem, 8vw + 0.5rem, 8.75rem);
            margin: 0;
            line-height: 1;
            letter-spacing: 3px;
          }
          .line {
            height: 3px;
            background: linear-gradient(
              to bottom,
              #d6d6d6 0%,
              #f2f2f2 25%,
              #ffffff 50%,
              #f2f2f2 75%,
              #d6d6d6 100%
            );
            width: 0%;
            margin-top: 0.3rem;
          }
          @media (max-width: 1380px) {
            padding-top: 48px;
          }
          @media (max-width: 768px) {
            padding-top: 0;
          }
        }
        .sectOneAddress {
          display: flex;
          align-items: center;
          margin-top: 32px;
          justify-content: space-between;
          span {
            font-size: clamp(0.9rem, 1.3vw + 0.2rem, 1.5rem);
            color: gray;
            font-weight: 500;
          }
          p {
            font-size: clamp(0.9rem, 1.3vw + 0.2rem, 1.5rem);
            color: rgb(255, 255, 255);
            font-weight: 500;
            margin-right: 48px;
            margin: 0;
            line-height: 1;
          }
          @media (max-width: 1380px) {
            margin-top: 1rem;
            justify-content: flex-start;
            .nth2 {
              margin-left: 2.5rem;
            }
            span {
              margin-right: 1rem;
            }
          }
          @media (max-width: 768px) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 0;
            gap: 1rem;
            .nth1,
            .nth2 {
              margin: 0 0 -0.5rem 0;
            }
          }
        }
        .sectOneCredits {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 100px 0 12px 0;
          p {
            margin: 0;
            font-size: clamp(0.9rem, 1.3vw + 0.2rem, 1.5rem);
            color: rgb(255, 255, 255);
            font-weight: 500;
          }
          .credits {
            position: relative;
            .flipContainer {
              position: absolute;
              top: -135%;
              left: 0.5rem;
              span {
                width: max-content;
                font-size: clamp(0.9rem, 1.3vw, 1.5rem);
                color: gray;
                font-weight: 500;
                margin-right: 1rem;
              }
              .flipCredits {
                width: max-content;
                margin: 0;
                line-height: 1.2;
                opacity: 0;
                font-size: 18px;
                color: rgb(255, 255, 255);
                font-weight: 500;
                cursor: pointer;
                .to {
                  color: white;
                  &:hover {
                    transform: scale(0.9);
                    color: rgb(201, 144, 0);
                    transition: all 0.3s ease-in-out;
                  }
                }
              }
            }
          }
          @media (max-width: 1380px) {
            padding: 64px 0 12px 0;
          }
          @media (max-width: 768px) {
            margin: 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0.5rem;
            padding: 48px 0 0 0;
          }
        }
      }
      .sectTwo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 1680px) {
          > * {
            transform: scale(0.8);
          }
        }
        @media (max-width: 1380px) {
          display: none;
        }
      }
    }
  }
}
