@font-face {
  font-family: "nhg";
  src: url("../../../public/Fonts/neue_haas_grotesk/NeueHaasDisplayLight.ttf");
  font-style: normal;
}

@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");

@import url("https://fonts.cdnfonts.com/css/overused-grotesk");

@import url("https://fonts.cdnfonts.com/css/amoera");

@import url("https://fonts.cdnfonts.com/css/br-segma");

@import url("https://fonts.cdnfonts.com/css/manifesto");

@import url("https://fonts.cdnfonts.com/css/roboto-condensed-3");

:root {
  --tone-0: #ffffff;
  --tone-100: #000000;
  --tone-200: #222222;
  --tone-300: #5b5c57;
  --tone-400: #e3e4d8;
  --tone-500: #b6fe4b;
  --tone-600: #ff0000;
  --main-font: "PP Neue Montreal", sans-serif;
  --secondary-font: "Overused Grotesk", sans-serif;
  --amoera-font: "amoera", sans-serif;
  --encode-font: "BR Segma", sans-serif;
  --rogan-font: "MANIFESTO", sans-serif;
  --auxilliary-font: "Roboto Condensed", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  background: #ffffff;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.custom-cursor {
  position: fixed;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 999;
  transition: scale 0.3s ease;
  color: white;
  box-sizing: border-box;
  overflow: hidden;
  transition:
    left 0.1s ease-out,
    top 0.1s ease-out;
  .c1,
  .c2 {
    width: 60px;
    height: 60px;
    position: absolute;
  }
  .c1 {
    transform: translateX(-125%);
  }
}
.custom-cursor .visible {
  opacity: 1;
}

.main_container {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  section {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
  }
  .hero_section {
    height: 100vh;
    position: relative;
    overflow: hidden;
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0);
      z-index: 3;
      pointer-events: none;
    }
    .hero_carousel_container {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }
  }

  .about {
    display: flex;
    flex-direction: column;
    // border: 2px solid red;
    padding: 136px 48px 0 48px;
    svg {
      width: 36px;
      height: 36px;
    }
    .line {
      // border: 2px solid red;
      overflow: hidden;
      .split_up {
        transform: translateY(100%);
      }
      span {
        font-family: var(--rogan-font);
        font-weight: 800;
        font-size: 170px;
        letter-spacing: -1.2rem;
        line-height: 1;
        display: inline-block;
      }
    }
    .la__marque {
      display: flex;
      flex-direction: column;
      // border: 2px solid blue;
      .au__coeur {
        display: flex;
        .la__marque_svg {
          display: flex;
          flex-direction: column;
          margin-left: 1rem;
        }
      }
    }

    .wipe__inText {
      // border: 2px solid blue;
      overflow: hidden;
      padding-top: 90px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      #dot {
        width: 48px;
        height: 48px;
        transform: scale(0.5);
      }

      #orangeArrow {
        z-index: 3;
      }

      #heart {
        width: 48px;
        height: 48px;
        transform: scale(0.5);
      }
      .textbox_one {
        margin-bottom: 72px;
        // border: 1px solid red;
      }
      .textbox_two {
        .wipe__button {
          margin-top: 60px;
          .button {
            box-sizing: border-box;
            width: 224px;
            height: 48px;
            border: 1px solid #464646;
            padding: 0;
            border-radius: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            span {
              display: inline-block;
              font-family: var(--encode-font);
              font-size: 20px;
              font-weight: 400;
              letter-spacing: 1px;
              color: #464646;
              text-transform: uppercase;
              margin: 0;
            }
            :nth-child(1) {
              position: absolute;
              top: 50%;
              left: -36px;
              transform: translateY(-50%) rotate(90deg);
            }
            :nth-child(3) {
              transform: rotate(45deg);
              margin-left: -5px;
            }
          }
        }
      }
      .text_box {
        width: fit-content;
        #orangeArrow {
          width: 48px;
          height: 48px;
          transform: scale(1.5);
          margin-right: 1rem;
        }
        p {
          font-size: 66px;
          font-family: var(--encode-font);
          text-transform: uppercase;
          font-weight: 400;
          margin: 0 0 12px 0;
          letter-spacing: -2px;
          span {
            display: inline-block;
            margin-left: 0.5rem;
          }
        }
      }
    }
  }
  .marquee {
    margin-top: 240px;
    width: 100%;
    overflow: hidden;
    .marquee__text {
      display: flex;
      p {
        font-size: 448px;
        margin: 0;
        line-height: 1;
        font-family: var(--main-font);
        font-weight: 400;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        span {
          margin: 0 6.5rem;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          background-color: black;
          display: inline-block;
          flex-shrink: 0;
        }
      }
    }
  }
  .mitwit {
    width: 100%;
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    padding: 0 48px;
    cursor: none;
    box-sizing: border-box;
    .box3_box1 {
      display: flex;
      //
      justify-content: space-between;
      .text_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h4 {
          font-size: 3rem;
          font-weight: 500;
          font-family: var(--main-font);
          color: rgb(0, 0, 0);
          margin-bottom: 1rem;
        }
        p {
          color: rgb(134, 134, 134);
          font-weight: 400;
          font-family: var(--encode-font);
          font-size: 1.3rem;
          line-height: 160%;
          max-width: 480px;
        }
      }
      .img_box {
        //
        overflow: hidden;
        width: 65%;
        height: 95vh;
        position: relative;
        .editorial {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
        }
      }
    }
  }
  // ZAO SECTION
  .zao__section {
    // border: 2px solid red;
    margin-top: 60px;
    padding: 0 48px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    cursor: none;
    .zaoTwo {
      width: 750px;
      .zao {
        .img_box {
          height: 60vh;
        }
      }
    }
    .zaoOne {
      width: 900px;
      .img_box {
        height: 70vh;
      }
    }
    .zaoMain {
      display: flex;
      flex-direction: column;
      // border: 2px solid blue;
      .img_box {
        overflow: hidden;
        width: 100%;
        position: relative;
        // border: 1px solid red;
        .zaoImage,
        .newtonImage {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
        }
      }
      .zao_textboxOne {
        h4 {
          font-size: 2rem;
          font-weight: 400;
          font-family: var(--secondary-font);
          color: rgb(0, 0, 0);
          margin-bottom: 1rem;
          letter-spacing: 1px;
        }
        p {
          color: rgb(112, 112, 112);
          font-weight: 400;
          font-family: var(--encode-font);
          font-size: 1.2rem;
          line-height: 160%;
          max-width: 480px;
        }
      }
    }
  }
  .three_images {
    // border: 2px solid red;
    margin-top: 60px;
    height: fit-content;
    box-sizing: border-box;
    .three_images_container {
      // border: 2px solid blue;
      display: flex;
      padding: 0 48px;
      gap: 2rem;
      justify-content: space-between;
      .three {
        display: flex;
        flex-direction: column;
        .threeImgBox {
          overflow: hidden;
          position: relative;
          width: 580px;
          height: 440px;
          cursor: none;
          .threeImg {
            width: 100%;
            position: absolute;
            height: 110%;
            margin-top: -50px;
            object-fit: cover;
          }
        }
        .threeTextBox {
          h4 {
            margin-top: 1rem;
            font-size: 2rem;
            font-weight: 400;
            font-family: var(--secondary-font);
            color: rgb(0, 0, 0);
            margin-bottom: 1rem;
            letter-spacing: 1px;
          }
          p {
            color: rgb(112, 112, 112);
            font-weight: 400;
            font-family: var(--encode-font);
            font-size: 1.2rem;
            line-height: 160%;
            max-width: 480px;
          }
        }
      }
    }
  }
  .lastLast {
    width: 100%;
    height: fit-content;
    padding: 48px;
    margin-bottom: 164px;
    box-sizing: border-box;
    .lastSection {
      width: fit-content;
      .lastImgBox {
        width: 750px;
        height: 640px;
        position: relative;
        overflow: hidden;
        .lastImage {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .lastTextBox {
        h4 {
          margin-top: 1rem;
          font-size: 2rem;
          font-weight: 400;
          font-family: var(--secondary-font);
          color: rgb(0, 0, 0);
          margin-bottom: 1rem;
          letter-spacing: 1px;
        }
        p {
          color: rgb(112, 112, 112);
          font-weight: 400;
          font-family: var(--encode-font);
          font-size: 1.2rem;
          line-height: 160%;
          max-width: 480px;
        }
      }
    }
  }
}

.g__text-line-wrapper {
  position: relative;
  width: max-content;
  display: block;
  // overflow: hidden;
}

.g-text {
  position: relative;
  display: block;
}

.gText_revealer {
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  width: 130%;
  height: 100%;
  pointer-events: none;
  will-change: transform;
  z-index: 1;
}

// NAVBAR
.navbar {
  position: fixed;
  top: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  z-index: 2;
  height: 64px;
  padding: 0 24px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(60px) saturate(140%);
  -webkit-backdrop-filter: blur(12px) saturate(140%);
  border-radius: 16px;
  border: none;
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.25),
    inset 0 1px 0 rgba(255, 255, 255, 0.25);

  color: #fff;
  .navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .logo {
      display: flex;
      height: 100;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      // border: 1px solid blue;

      .logo_svg {
        width: 2rem;
        height: 2rem;
      }
      h4 {
        font-size: 1.2rem;
        font-family: var(--main-font);
        color: rgb(198, 198, 198);
        font-weight: 800;
      }
    }
    .nav_time {
      p {
        font-size: 1rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        font-family: var(--main-font);
        z-index: 5;
        font-weight: 400;
      }
    }
    .nav_links_container {
      height: 100%;
      display: flex;
      div {
        display: flex;
        align-items: center;
        padding: 0 1rem;
        cursor: pointer;
        justify-content: space-between;
        .nav_links {
          font-size: 1rem;
          letter-spacing: 1px;
          text-transform: uppercase;
          text-decoration: none;
          color: white;
          font-family: var(--main-font);
          z-index: 5;
          font-weight: 400;
        }
      }
    }
  }
}
// CAROUSEL

@keyframes scaleIn {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeOutThenSlide {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes textHeadingIn {
  0% {
    transform: translateY(calc(100% + 20px));
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes textHeadingOut {
  0% {
    transform: translateY(0);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(calc(100% + 20px));
  }
}

// Text description animation (lines with fade-up)
@keyframes textDescriptionIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes textDescriptionOut {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes clipPathAnimation {
  0% {
    clip-path: polygon(
      20% 0%,
      /* left top */ 100% 0%,
      /* right top */ 100% 100%,
      /* right bottom */ 20% 100% /* left bottom */
    );
  }
  100% {
    clip-path: polygon(
      0% 0%,
      /* left top */ 100% 0%,
      /* right top */ 100% 100%,
      /* right bottom */ 0% 100% /* left bottom */
    );
  }
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &__container {
    width: 100%;
    height: 100%;
  }

  &__slides {
    position: relative;
    width: 100%;
    height: 100%;
    .darkOverlay {
      z-index: 3;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 1);
      pointer-events: none;
    }
  }

  &__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(105%);
    opacity: 1;
    transition:
      transform 1.2s cubic-bezier(0.4, 0, 0.2, 1),
      opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1),
      scale 1.2s cubic-bezier(0.4, 0, 0.2, 1);
    img,
    video {
      position: absolute;
      inset: 0;
      display: block;
      transform: scale(1);
      object-fit: cover;
      min-width: 100%;
      min-height: 100%;
    }

    &--active {
      transform: translateX(0);
      opacity: 1;
      z-index: 2;
      // animation: clipPathAnimation 1.2s cubic-bezier(0.4, 0, 0.2, 1);
      img,
      video {
        animation: scaleIn 7s linear forwards;
        transform-origin: center center;
      }
    }

    &--prev {
      transform: translateX(0);
      opacity: 1;
      z-index: 1;
      animation: fadeOutThenSlide 3.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;

      img,
      video {
        animation: scaleIn 7s linear forwards;
        transform-origin: center center;
      }
    }

    &--transitioning {
      transition:
        transform 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86),
        opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .circular__text_container {
    display: block;
    position: absolute;
    bottom: 100px;
    right: 24px;
    // border: 2px solid red;
    z-index: 2;
  }

  &__progress_container {
    position: absolute;
    bottom: 100px;
    left: 24px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    gap: 1.5rem;

    @media (max-width: 768px) {
      bottom: 2.5rem;
    }
  }

  &__text {
    // border: 2px solid red;
    position: relative;
    width: 1200px;
    height: 300px;
  }

  &__text_container {
    // border: 2px solid blue;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    &--active {
      opacity: 1;
      z-index: 2;
    }
  }

  &__header {
    // border: 2px solid purple;
    padding: 0;
    overflow: hidden;
    width: 100%;
    h1 {
      line-height: 1;
      font-family: var(--amoera-font);
      color: var(--tone-0);
      font-weight: 500;
      font-size: 120px;
      text-transform: capitalize;
      margin: 0;
      transform: translateY(calc(100% + 20px));
    }
    .header--active {
      animation: textHeadingIn 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
      animation-delay: 0.75s;
    }
    .header--prev {
      animation: textHeadingOut 0.35s linear;
    }

    @media (max-width: 980px) {
      width: 600px;
      h1 {
        font-size: 88px;
        transform: translateY(calc(100% + 20px));
      }
    }

    @media (max-width: 768px) {
      width: 450px;
    }

    @media (max-width: 580px) {
      h1 {
        font-size: 52px;
        line-height: 1.05;
        transform: translateY(calc(100% + 15px));
      }
    }

    @media (max-width: 420px) {
      width: 300px;
    }
  }

  &__description {
    max-width: 680px;
    // border: 2px solid yellow;
    p {
      font-family: var(--secondary-font);
      color: var(--tone-0);
      font-weight: 300;
      font-size: 1.5rem;
      line-height: 150%;
      letter-spacing: 1px;
      margin: 0;
      opacity: 0;
    }
    .description--active {
      animation: textDescriptionIn 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
      animation-delay: 1.3s;
    }
    .description--prev {
      animation: textDescriptionOut 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    }

    @media (max-width: 980px) {
      p {
        font-size: 1.25rem;
        letter-spacing: 0.8px;
      }
    }

    @media (max-width: 768px) {
      width: 350px;
    }

    @media (max-width: 580px) {
      p {
        font-size: 1.05rem;
        line-height: 145%;
        letter-spacing: 0.6px;
      }
    }

    @media (max-width: 420px) {
      width: 250px;
    }
  }

  &__progress {
    display: flex;
    gap: 1.2rem;
    z-index: 10;
  }

  &__progress-dot {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 64px;
    background: rgba(255, 255, 255, 1);
    cursor: pointer;
    overflow: hidden;
    transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background: rgba(255, 255, 255, 0.5);
      width: 1rem;
    }

    &--active {
      transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);
      border-radius: 64px;
      width: 64px;
      pointer-events: none;
      background: rgba(216, 216, 216, 0.5);
    }
  }
  &__progress-fill {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 64px;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    width: 0%; // Default width
  }
}

// .carousel {
//   position: relative;
//   width: 100%;
//   height: 100%;
//   // overflow: hidden;
//   box-sizing: border-box;

//   &__container {
//     width: 100%;
//     height: 100%;
//   }

//   &__slides {
//     position: relative;
//     width: 100%;
//     height: 100%;
//     .darkOverlay {
//       z-index: 3;
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;
//       background-color: rgba(0, 0, 0, 1);
//       pointer-events: none;
//     }
//   }

//   &__slide {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     opacity: 1;
//     transform: translateX(105%);
//     img,
//     video {
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
//       display: block;
//     }
//   }

//   .circular__text_container {
//     position: absolute;
//     bottom: 100px;
//     right: 24px;
//     // border: 2px solid red;
//     z-index: 2;
//   }

//   &__progress_container {
//     // border: 2px solid blue;
//     position: absolute;
//     bottom: 120px;
//     left: 56px;
//     display: flex;
//     flex-direction: column;
//     z-index: 2;
//     gap: 1.5rem;
//   }

//   &__text {
//     // border: 2px solid red;
//     position: relative;
//     width: 1200px;
//     height: 300px;
//   }

//   &__text_container {
//     // border: 2px solid blue;
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     opacity: 1;
//   }

//   &__header {
//     // border: 2px solid purple;
//     padding: 0;
//     overflow: hidden;
//     h1 {
//       line-height: 1;
//       font-family: var(--amoera-font);
//       color: var(--tone-0);
//       font-weight: 500;
//       font-size: 120px;
//       text-transform: capitalize;
//       margin: 0;
//       opacity: 0;
//     }
//   }

//   &__description {
//     max-width: 680px;
//     // border: 2px solid rgb(0, 255, 55);
//     p {
//       font-family: var(--secondary-font);
//       color: var(--tone-0);
//       font-weight: 300;
//       font-size: 1.5rem;
//       line-height: 150%;
//       letter-spacing: 1px;
//       margin: 0;
//       opacity: 0;
//     }
//   }

//   &__progress {
//     display: flex;
//     gap: 1rem;
//     z-index: 10;
//     // border: 2px solid red;
//   }

//   &__progress-dot {
//     position: relative;
//     width: 10px;
//     height: 10px;
//     border-radius: 64px;
//     background: rgba(255, 255, 255, 1);
//     cursor: pointer;
//     overflow: hidden;
//     transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover {
//       background: rgba(255, 255, 255, 0.5);
//       width: 1rem;
//     }

//     &--active {
//       transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);
//       border-radius: 64px;
//       width: 64px;
//       pointer-events: none;
//       background: rgba(216, 216, 216, 0.5);
//     }

//     &:hover {
//       background: rgba(255, 255, 255, 0.5);
//       width: 1rem;
//     }
//   }

//   &__progress-fill {
//     position: absolute;
//     top: 0;
//     left: 0;
//     border-radius: 64px;
//     height: 100%;
//     background: rgba(255, 255, 255, 0.6);
//     transition: width 0.016s linear;
//   }
// }

// // Responsive styles
// @media (max-width: 768px) {
//   .carousel {
//     &__progress {
//       bottom: 2rem;
//       left: 2rem;
//       gap: 0.5rem;
//     }

//     &__progress-dot {
//       width: 2rem;
//       height: 0.2rem;

//       &--active {
//         width: 8rem; // Smaller on mobile
//       }
//     }
//   }
// }

// // Tablet styles
// @media (min-width: 769px) and (max-width: 1024px) {
//   .carousel {
//     &__progress {
//       bottom: 2.5rem;
//       left: 2.5rem;
//     }

//     &__progress-dot {
//       &--active {
//         width: 10rem;
//       }
//     }
//   }
// }

// TRIAL ANIMATIONS
.trial_animations {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  cursor: pointer;
  #curve {
    fill: none;
    // stroke: rgb(255, 0, 0);
    // stroke-width: 4;
  }
  .spin_text {
    fill: white;
    font-family: var(--rogan-font);
    font-weight: 800;
    font-size: 1.3rem;
  }
}

// ANIMATED LINK
.animated-link {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    svg {
      transform: translateX(4px);
      fill: rgb(255, 128, 0);
    }
  }
  svg {
    margin-top: 0.3rem;
  }
  .fortyFive {
    transform: rotate(-45deg);
  }
}

.animated-link__icon {
  display: block;
  flex-shrink: 0;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  fill: rgb(125, 125, 125);
}

.animated-link__text {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  transition: color 0.3s ease;
}

// FOOTER
.footer_main {
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: black;
  overflow: hidden;
  padding-bottom: 32px;
  > * {
    color: white;
    font-family: var(--secondary-font);
  }
  .footerMarquee {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    .mq {
      display: flex;
      .mqItem {
        display: flex;
        align-items: center;
        height: fit-content;
        gap: 2rem;
        padding-left: 1rem;
        .plus {
          width: 56px;
          height: 56px;
        }
        p {
          line-height: 1.3;
          width: max-content;
          margin: 0;
          color: white;
          font-family: var(--secondary-font);
          font-size: 144px;
          font-weight: 300;
        }
      }
    }
  }
  .footerSectionTwo {
    .footerSectionTwoContainer {
      margin-top: 140px;
      padding-left: 200px;
      display: flex;
      .sectOne {
        display: flex;
        flex-direction: column;
        .sectOneMenu {
          display: flex;
          // border: 2px solid red;
          gap: 240px;
          .menu__one {
            display: flex;
            // border: 2px solid blue;
            gap: 100px;
            span {
              font-size: 24px;
              color: gray;
              font-weight: 500;
            }
            .menu_items {
              // border: 2px solid green;
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              gap: 1.5rem;
            }
          }
          .menu__two {
            // border: 2px solid blue;
            display: flex;
            gap: 2rem;
            span {
              font-size: 24px;
              color: gray;
              font-weight: 500;
              margin-right: 48px;
            }
          }
        }
        .sectOneBonjour {
          // border: 2px solid blue;
          padding-top: 100px;
          cursor: pointer;
          div {
            width: fit-content;
            overflow: hidden;
          }
          p {
            font-size: 140px;
            margin: 0;
            line-height: 1;
            letter-spacing: 3px;
          }
          .line {
            height: 3px;
            background: linear-gradient(
              to bottom,
              #d6d6d6 0%,
              #f2f2f2 25%,
              #ffffff 50%,
              #f2f2f2 75%,
              #d6d6d6 100%
            );
            width: 0%;
            margin-top: 0.3rem;
          }
        }
        .sectOneAddress {
          display: flex;
          align-items: center;
          margin-top: 32px;
          justify-content: space-between;
          span {
            font-size: 24px;
            color: gray;
            font-weight: 500;
          }
          p {
            font-size: 24px;
            color: rgb(255, 255, 255);
            font-weight: 500;
            margin-right: 48px;
            margin: 0;
            line-height: 1;
          }
        }
        .sectOneCredits {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 100px 0 12px 0;
          p {
            margin: 0;
            font-size: 24px;
            color: rgb(255, 255, 255);
            font-weight: 500;
          }
          .credits {
            position: relative;
            .flipContainer {
              position: absolute;
              top: -135%;
              left: 0.5rem;
              span {
                width: max-content;
                font-size: 22px;
                color: gray;
                font-weight: 500;
                margin-right: 1rem;
              }
              .flipCredits {
                width: max-content;
                margin: 0;
                line-height: 1.2;
                opacity: 0;
                font-size: 18px;
                color: rgb(255, 255, 255);
                font-weight: 500;
                cursor: pointer;
                .to {
                  color: white;
                  &:hover {
                    transform: scale(0.9);
                    color: rgb(201, 144, 0);
                    transition: all 0.3s ease-in-out;
                  }
                }
              }
            }
          }
        }
      }
      .sectTwo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

// sandbox
.sandbox {
  position: relative;
  height: 100vh;
  width: 100%;
  border: 2px solid red;
  img {
    position: absolute;
    inset: 0;
  }
}
